.container{
    width:75%;
}
.big-container{
    background: linear-gradient(to right,#DF6589FF,#D7C49EFF) !important;
}

th{
    background-color:#D7C49EFF ;
}
 /* body{
    background-color: #D7C49EFF;
}  */